@media only screen and (max-width:1140px){
    .hero-item-1 h1, .about div h1, .contact-h h1 {
        font-size: 5em;
    }
    .collection-header h1 {
        font-size: 4em;
    }
    .hero-item-1 p, .about-paragraph p, .collection-paragraph p {
        font-size: 1.4em;
    }
    .hero-item-0 img {
        width: 40%;
        margin: 0 0 2em;
    }
}
@media only screen and (max-width:1000px){
    .nav-links, .contact-icon, .hero-item-0, .about-left-column, .collection-right-column {
        display: none;
    }
    .hero-item-1 h1, .about div h1, .contact-h h1 {
        font-size: 4em;
    }
    .collection-header h1 {
        font-size: 3em;
    }
    .hero-item-1 p, .about-paragraph p, .collection-paragraph p {
        font-size: 1.2em;
    }
    #side-bar {
        display: block;
        width: 30vh;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 3;
        background-color: rgb(29, 29, 29);
        padding-top: 3em;
    }
    #side-bar ul {
        margin: 0;
        list-style: none;
        padding: 0;
    }
    #side-bar ul a li {
        padding: .4em 0 .4em 2em;
    }
    #side-bar ul a li:hover {
        background-color: #fcdb0570;
    }
    #side-bar ul a {
        text-decoration: none;
        color: white;
        font-size: 1.5em;
        font-family: HelveticaLight;
    }
    #side-home {
        background-color: #fcda05;
        color: rgb(29, 29, 29);
    }
    .toggle {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        cursor: pointer;
    }
    .nav {
        padding: 1em 0;
        z-index: 2;
    }
    .logo {
        justify-content: flex-start;
        flex: 1;
    }
    .logo img {
        width: 13em;
    }
    .toggle img {
        width: 3em;
        height: 3em;
    }
    .hero-item-2 img {
        width: 22em;
        transform: translateX(8em);
    }
}
@media only screen and (max-width:825px){
    .hero-item-2 img {
        width: 22em;
        transform: translateX(2em);
    }
    
}
@media  only screen and (max-width:600px){
    .nav-links, .contact-icon, .hero-item-0, .about-left-column, .collection-right-column {
        display: none;
    }
    #side-bar {
        display: block;
        width: 30vh;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 3;
        background-color: rgb(29, 29, 29);
        padding-top: 3em;
    }
    #side-bar ul {
        margin: 0;
        list-style: none;
        padding: 0;
    }
    #side-bar ul a li {
        padding: .4em 0 .4em 2em;
    }
    #side-bar ul a li:hover {
        background-color: #fcdb0570;
    }
    #side-bar ul a {
        text-decoration: none;
        color: white;
        font-size: 1.5em;
        font-family: HelveticaLight;
    }
    #side-home {
        background-color: #fcda05;
        color: rgb(29, 29, 29);
    }
    .toggle {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        cursor: pointer;
    }
    .nav {
        padding: 1em 0;
        z-index: 2;
    }
    .logo {
        justify-content: flex-start;
        flex: 1;
    }
    .logo img {
        width: 13em;
    }
    .toggle img {
        width: 3em;
        height: 3em;
    }
    .hero {
        align-items: flex-end;
        padding: 0 0 2em;
        overflow: hidden;
    }
    .hero-item-1, .hero-item-2{
        flex: 1;
    }
    .hero-item-2 img {
        width: 25em;
        transform: translateX(-17em);
    }
    .hero-item-1 h1 {
        font-size: 5em;
    }
    .hero-item-1 p {
        font-size: 1.5em;
    }
    .hero-item-2 {
        z-index: 0;
    }
    .hero-item-1 {
        z-index: 1;
    }
    .about {
        flex-wrap: wrap;
        padding: 0;
    }
    .about-image {
        display: flex;
        justify-content: center;
        order: 3;
        flex-basis: 100%;
    }
    .about div img {
        width: 30em;
        height: 30em;
    }
    .about-paragraph {
        order: 1;
        flex-basis: 70%;
        padding: 0;
        text-align: center;
    }
    .about-right-column {
        display: flex;
        align-items: flex-start;
        order: 2;
        flex-basis: 30%;
    }
    .about-right-column hr {
        margin-top: 3em;
        width: 100%;
    }
    .about div h1 {
        font-size: 5em;
    }
    .about-paragraph p {
        font-size: 1.5em;
        padding: 0 2em;
    }
    .collection {
        flex-wrap: wrap;
        margin-top: -7em;
    }
    .collection-left-column {
        flex-basis: 20%;
    }
    .collection-header {
        flex-basis: 10%;
    }
    .collection-image {
        flex-basis: 60%;
    }
    .collection-image {
        display: flex;
        justify-content: center;
        order: 2;
    }
    .collection-paragraph {
        display: flex;
        justify-content: center;
        flex-direction: column;
        order: 3;
        flex-basis: 100%;
        padding: 1em 3em;
    }
    .collection-header h1 {
        font-size: 4em;
    }
    .collection-paragraph p {
        font-size: 1.5em;
    }
    .contact-header {
        display: flex;
        align-items: center;
        margin-bottom: 2em;
        overflow: hidden;
    }
    .contact-h h1 {
        font-size: 5em;
    }
    .contact-hr hr {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .contact-form form {
        display: flex;
        flex-direction: column;
    }
    .contact-form form br {
        display: none;
    }
    input[type="text"], input[type="email"], textarea{
        width: 95%;
        margin: 3% 2.5%;
        font-size: 1em;
        padding: 1em 0 1em 2em;
        color: #646464;
        border: 0;
        border-bottom: .05em solid #cecece;
    }
    footer {
        width: 80%;
        margin: 0 auto 2em;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .up-icon {
       flex-basis: 50%;
       order: 2;
    }
    .up-icon a img {
        width: 22%;
    }
    .footer-logo img {
       width: 80%;
    }
    .rep-text {
        flex-basis: 100%;
        order: 3;
        margin-top: 2em;
    }
    .footer-logo {
       display: flex;
       justify-content: flex-start;
       flex-basis: 50%;
       order: 1;
    }
    .up-icon a{
       display: flex;
       justify-content: flex-end;
    }
}